<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="/base.js"></script>
    <script type="module" src="/main.js"></script>
</head>
<body>
    <div id="main">
        <navigation></navigation>

        <div id="body">
            <panel text="version" :data="version"></panel>
            <panel style="margin-top: 20px;" text="time" :data="time"></panel>

            <div class="ep-panel" style="margin-top: 20px;">
                <div style="font-weight: bold;">
                    缓存文件
                </div>

                <div>
                    <!-- 无 -->
                    <div v-cloak v-if="cache.length === 0" style="margin-top: 10px;color: #0c0c0c73;">
                        无
                    </div>

                    <div v-cloak v-for="(item, key) in cache" style="display: flex;margin-top: 10px;" :key="key">
                        <div v-cloak style="width: 50%;">
                            {{item}}
                        </div>
                        <div v-cloak style="width: 50%;display: flex;flex-direction: row-reverse;">
                            <a @click="deleteCacheFile(item)" style="cursor: pointer;">删除</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ep-panel" style="margin-top: 20px;">
                <div style="display: flex;">
                    <div style="font-weight: bold;width: 50%;">
                        错误日志
                    </div>
                    <div style="display: flex;flex-direction: row-reverse;width: 50%;">
                        <a @click="cleanErrorLog()" style="cursor: pointer;">清空</a>
                    </div>
                </div>

                <div style="white-space: pre-line;margin-top: 10px;" v-html="errorLog"></div>
            </div>

            <div class="ep-panel" style="margin-top: 20px;">
                <button @click="gc()">辣鸡回收</button>
            </div>
        </div>
    </div>
</body>
</html>

<script type="module">

    import systemServiceApi from "./api/service/systemServiceApi.js";
    import systemApi from "./api/service/systemApi.js";
    import alertComponent from "./component/alertComponent.js";

    new Vue({
        el: "#main",

        data: {
            version: null,

            time: null,

            cache: [],

            errorLog: ""
        },

        mounted() {
            let that = this;

            systemServiceApi.getVersion().then(function (version) {
                that.version = version;
            });

            systemServiceApi.getTime().then(function (time) {
                that.time = time;
            });

            that.getCache();

            that.getErrorLog();
        },

        components: {
            panel: {
                template: `
                        <div v-cloak class="ep-panel" style="display: flex;">
                            <div style="font-weight: bold;width: 60px;">
                                {{text}}
                            </div>
                            <div>
                                {{data}}
                            </div>
                        </div>
                    `,

                props: ["text", "data"]
            }
        },

        methods: {
            deleteCacheFile(fileName) {
                let that = this;

                systemServiceApi.deleteCacheFile({fileName}).then(function () {
                    that.getCache();
                });
            },

            getCache() {
                let that = this;

                systemServiceApi.getCache().then(function (cache) {
                    that.cache = cache;
                });
            },

            getErrorLog() {
                let that = this;

                systemApi.getErrorLog().then(function (data) {
                    data = data.replaceAll("\t", "&ensp;&ensp;&ensp;&ensp;");
                    that.errorLog = data;
                });
            },

            cleanErrorLog() {
                let layerIndex = layer.open({
                    title: "",
                    type: 1,
                    content: `
                        <div style="padding: 20px;">
                            <div style="display: flex;">
                                <div style="width: 20%;display: flex;align-items: center;">
                                    口令
                                </div>
                                <div>
                                    <input id="cleanErrorLog-key" class="form-control input-sm" />
                                </div>
                            </div>
                            <div style="margin-top: 10px;">
                                <button id="cleanErrorLog-button" style="width: 100%;" class="btn btn-primary btn-sm">确定</button>
                            </div>
                        </div>
                    `
                });

                let that = this;

                document.getElementById("cleanErrorLog-button").addEventListener("click", function () {
                    let key = document.getElementById("cleanErrorLog-key").value;

                    systemApi.cleanErrorLog({
                        key: key
                    }).then(function () {
                        that.getErrorLog();
                        layer.close(layerIndex);
                    }).catch(function (message) {
                        alertComponent.popup(message);
                    });
                });
            },

            gc() {
                systemApi.gc();
            }
        }
    });

</script>