@import "panel.css";

html, body, #main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

div {
    font-size: 14px;
    color: #606266;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: #546E7A;
}

.title-2 {
    font-size: 16px;
    font-weight: bold;
    color: #546E7A;
}

p {
    word-wrap: break-word;
}

.ep-select-drop {
    max-width: none !important;
}