<div style="padding: 0 30%;">
    <blockquote class="layui-elem-quote">
        <div class="title">
            swgd
        </div>

        <div style="margin-top: 20px;">
            <table class="layui-table">
                <thead>
                <tr>
                    <th>参数名</th>
                    <th>参数值</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="swgdTable">
<!--                    <tr>-->
<!--                        <td>贤心</td>-->
<!--                        <td>汉族</td>-->
<!--                        <td class="center">-->
<!--                            <button type="button" class="layui-btn layui-btn-danger layui-btn-xs">修改</button>-->
<!--                        </td>-->
<!--                    </tr>-->
                </tbody>
            </table>
        </div>
    </blockquote>

    <blockquote class="layui-elem-quote" style="margin-top: 20px;">
        <div class="title">
            sftp83
        </div>

        <div style="margin-top: 20px;">
            <table class="layui-table">
                <thead>
                <tr>
                    <th>参数名</th>
                    <th>参数值</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="sftp83Table"></tbody>
            </table>
        </div>
    </blockquote>

    <blockquote class="layui-elem-quote" style="margin-top: 20px;">
        <div class="title">
            daKa
        </div>

        <div style="margin-top: 20px;">
            <table class="layui-table">
                <thead>
                <tr>
                    <th>参数名</th>
                    <th>参数值</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="daKaTable"></tbody>
            </table>
        </div>
    </blockquote>

    <script type="module">

        import ConfigDTO from "../entity/ConfigDTO.js";
        import configApi from "../api/configApi.js";
        import popupCommon from "../common/popupCommon.js";

        (function () {

            // 数据
            let data = {
                // 配置
                config: new ConfigDTO()
            };

            // 元素
            let element = {
                // swgd表格
                swgdTable: document.getElementById("swgdTable"),

                // sftp83表格
                sftp83Table: document.getElementById("sftp83Table"),

                // daKa表格
                daKaTable: document.getElementById("daKaTable")
            };

            // 方法
            let method = {
                // 加载数据
                loadData() {
                    configApi.get().then(function (responseData) {
                        data.config.setData(responseData);
                        console.log(data.config);
                        let config = data.config;
                        let swgd = config.swgd;
                        let sftp83 = config.sftp83;
                        let daKa = config.daKa;

                        // 加载swgd表格
                        method.loadTable("swgd", element.swgdTable, swgd);

                        // 加载sftp83表格
                        method.loadTable("sftp83", element.sftp83Table, sftp83);

                        // 加载daKa表格
                        method.loadTable("daKa", element.daKaTable, daKa);
                    });
                },

                // 编辑弹窗
                setBox(key1, key2, value) {
                    console.log(value);
                    layui.use('layer', function(){
                        layer.open({
                            type: 1,
                            title: "",
                            area: "400px",
                            content: `<div style="padding: 20px;">
                                            <div>
                                                <input id="setBoxInput" type="text"class="layui-input" style="height: 25px;" />
                                            </div>
                                            <div style="margin-top: 10px;">
                                                <button id="setBoxButton" class="layui-btn" style="width: 100%;height: 30px;">确定</button>
                                            </div>
                                        </div>`
                        });

                        let setBoxInput = document.getElementById("setBoxInput");
                        let setBoxButton = document.getElementById("setBoxButton");

                        setBoxInput.value = value;
                        setBoxButton.addEventListener("click", function () {
                            let inputValue = setBoxInput.value;

                            // 兼容List
                            if (value instanceof Array) {
                                if (inputValue === "") {
                                    data.config[key1][key2] = [];
                                } else {
                                    data.config[key1][key2] = inputValue.split(",");
                                }
                            } else {
                                data.config[key1][key2] = inputValue;
                            }

                            configApi.set(data.config).then(function () {
                                popupCommon.openMsg("修改成功");
                                method.loadData();
                            });
                        });
                    });
                },

                // 加载表格
                loadTable(baseKey, tbody, data) {
                    // 清除表格数据
                    tbody.innerHTML = "";

                    // 遍历数据
                    for (let key in data) {
                        if (data.hasOwnProperty(key)) {
                            // tr
                            let tr = document.createElement("tr");
                            // td1
                            let td1 = document.createElement("td");
                            // td2
                            let td2 = document.createElement("td");
                            // 操作列
                            let td3 = document.createElement("td");
                            // 按钮
                            let button = document.createElement("button");

                            tbody.appendChild(tr);
                            tr.appendChild(td1);
                            tr.appendChild(td2);
                            tr.appendChild(td3);
                            td3.appendChild(button);

                            td1.innerHTML = key;

                            td2.innerHTML = data[key];

                            td3.setAttribute("class", "center");

                            button.setAttribute("class", "layui-btn layui-btn-danger layui-btn-xs");
                            button.innerHTML = "编辑";
                            button.addEventListener("click", function () {
                                method.setBox(baseKey, key, data[key]);
                            });
                        }
                    }
                }
            };

            method.loadData();

        })();

    </script>
</div>