<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="/base.js"></script>
    <script type="module" src="/main.js"></script>
</head>
<body>
    <div id="main">
        <navigation></navigation>

        <div id="body">
            <div class="center" style="margin-top: 50px;">
                <div style="width: 500px;">
                    <div>
                        tip：协同导入标识：sendType: 1，协同导入userName和ediNo不能有值。
                    </div>

                    <div class="input-group input-group-sm" style="margin-top: 20px;">
                        <span class="input-group-addon">
                            第三方代码
                        </span>
                        <input v-model="sender" type="text" class="form-control" aria-describedby="basic-addon1" aria-label="" />
                    </div>

                    <div style="margin-top: 20px;">
                        报文数据
                    </div>

                    <div style="margin-top: 5px;">
                        <label style="max-width: 100%;min-width: 100%;min-height: 500px;">
                            <textarea v-model="data" style="max-width: 100%;min-width: 100%;min-height: 500px;" class="form-control" rows="3" ></textarea>
                        </label>
                    </div>

                    <div style="margin-top: 20px;">
                        <button @click="sendCusFile()" style="width: 100%;" class="btn btn-primary" type="submit">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script type="module">

    import supplySendServiceApi from "../../api/service/supplySendServiceApi.js";
    import alertComponent from "../../component/alertComponent.js";
    import loadingComponent from "../../component/loadingComponent.js";

    new Vue({
        el: "#main",

        data: {
            sender: "",

            data: ""
        },

        methods: {
            // 发送报文
            sendCusFile() {
                let sender = this.sender;
                let data = this.data;

                if (sender === "") {
                    alertComponent.message("第三方代码不能为空");
                    return;
                }

                if (data === "") {
                    alertComponent.message("报文数据不能为空");
                    return;
                }

                loadingComponent.open();

                supplySendServiceApi.sendCusFile({
                    sender,
                    data
                }).then(function () {
                    alertComponent.popup("完成");
                }).catch(function (message) {
                    alertComponent.popup(message);
                }).finally(function () {
                    loadingComponent.close();
                });
            }
        }
    });

</script>