<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="/base.js"></script>
    <script type="module" src="/main.js"></script>
</head>
<body>
    <div id="main">
        <navigation></navigation>

        <div id="body">
            <div style="padding: 0 25%;">
                <div class="ep-panel">
                    <div>
                        组名
                    </div>

                    <div style="margin-top: 10px;">
                        <label style="width: 100%;">
                            <input v-model="page.groupName" class="form-control input-sm" />
                        </label>
                    </div>

                    <div style="margin-top: 20px;">
                        选择文件
                    </div>

                    <div style="margin-top: 10px;display: flex;">
                        <label style="width: 90%;">
                            <input v-model="page.file" class="form-control input-sm" disabled />
                        </label>
                        <div style="width: 10%;">
                            <button @click="selectFileMethod()" style="width: 100%;" class="btn btn-default btn-sm">...</button>
                        </div>
                    </div>

                    <div style="margin-top: 20px;">
                        <button @click="comparison()" style="width: 100%;" class="btn btn-primary">开始比对</button>
                    </div>
                </div>

                <!-- 比对弹框 -->
                <div :style="comparisonMessage.flag ? '' : 'display: none'" v-cloak class="ep-panel" style="position: fixed;width: calc(100% - 40%);left: 0;margin: 50px 20%;top: 0;box-shadow: #0000004d 0 0 20px 0;z-index: 3;">
                    <div style="display: flex;">
                        <div class="title" style="color: #1E9FFF;font-size: 17px;width: 50%;">
                            比对进度
                        </div>
                        <div style="display: flex;align-items: center;width: 50%;flex-direction: row-reverse;">
                            <button @click="close()" type="button" class="btn btn-default btn-sm">关闭</button>
                        </div>
                    </div>

                    <div style="margin-top: 20px;overflow: auto;max-height: 750px;">
                        <div>
                            <div class="progress">
                                <div :style="'width: ' + comparisonMessage.currentProgress" class="progress-bar" role="progressbar">
                                    {{comparisonMessage.currentProgress}}
                                </div>
                            </div>
                        </div>

                        <div :style="comparisonMessage.finishMessages.length === 0 ? 'display: none' : ''" style="margin-top: 20px;">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>数据库表名</th>
                                    <th>数据库数量</th>
                                    <th>mdb表名</th>
                                    <th>mdb数量</th>
                                    <th>信息</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(item, key) in comparisonMessage.finishMessages" :key="key">
                                    <td>{{item.dbName}}</td>
                                    <td>{{item.dbCount}}</td>
                                    <td>{{item.dbName}}</td>
                                    <td>{{item.mdbCount}}</td>
                                    <td>
                                        <div :style="item.flag ? 'color: green' : 'color: red'" v-for="(m, k) in item.messages" :key="k">
                                            {{m}}
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script type="module">

    import paramDbServiceApi from "../../api/service/paramDbServiceApi.js";
    import alertComponent from "../../component/alertComponent.js";
    import ImportParamDbComparisonWebsocketApi from "../../api/websocket/ImportParamDbComparisonWebsocketApi.js";
    import maskComponent from "../../component/maskComponent.js";
    import loadingComponent from "../../component/loadingComponent.js";

    new Vue({
        el: "#main",

        data: {
            page: {
                groupName: "parameterDb.mdb",
                file: ""
            },

            file: null,

            comparisonMessage: {
                flag: false,

                message: "",

                currentProgress: "",

                AllTable: 0,

                finishMessages: []
            }
        },

        methods: {
            selectFileMethod() {
                let fileInput = document.createElement("input");
                let that = this;

                fileInput.setAttribute("type", "file");
                fileInput.addEventListener("change", function () {
                    let file = fileInput.files[0];

                    paramDbServiceApi.upload(file).then(function (responseData) {
                        that.file = responseData;
                        that.page.file = file.name;
                    });
                });

                fileInput.click();
            },

            comparison() {
                let that = this;

                if (that.page.groupName === "") {
                    alertComponent.message("组名不能为空");
                    return;
                }

                if (that.page.file === "") {
                    alertComponent.message("未选择文件");
                    return;
                }

                loadingComponent.open();

                let webSocket = new ImportParamDbComparisonWebsocketApi(that.page.groupName, that.file);

                webSocket.onmessage(function (message) {
                    loadingComponent.close();

                    if (!message.flag) {
                        alertComponent.popup(message.message);
                        return;
                    }

                    maskComponent.open();
                    that.comparisonMessage = message;
                });
            },

            close() {
                this.comparisonMessage.flag = false;
                maskComponent.close();
            }
        }
    });

</script>