<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="/base.js"></script>
    <script type="module" src="/main.js"></script>
</head>
<body>
    <div id="main">
        <navigation></navigation>

        <div id="body">
            <div style="padding: 0 25%;">
                <div class="ep-panel">
                    <div>
                        组名
                    </div>

                    <div style="margin-top: 10px;">
                        <label style="width: 100%;">
                            <input v-model="groupName" class="form-control input-sm" />
                        </label>
                    </div>

                    <div style="margin-top: 20px;">
                        选择文件
                    </div>

                    <div style="margin-top: 10px;display: flex;">
                        <label style="width: 90%;">
                            <input v-model="fileName" class="form-control input-sm" disabled />
                        </label>
                        <div style="width: 10%;">
                            <button @click="selectFileMethod()" style="width: 100%;" class="btn btn-default btn-sm">...</button>
                        </div>
                    </div>

                    <div style="margin-top: 20px;">
                        <button @click="comparison()" style="width: 100%;" class="btn btn-primary">开始比对</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script type="module">
    import paramDbApi from "../../api/service/paramDbApi.js";
    import alertComponent from "../../component/alertComponent.js";
    import loadingComponent from "../../component/loadingComponent.js";

    new Vue({
        el: "#main",

        data: {
            groupName: "parameterDb",
            file: null,
            fileName: ""
        },

        methods: {
            selectFileMethod() {
                let fileInput = document.createElement("input");
                let that = this;

                fileInput.setAttribute("type", "file");
                fileInput.addEventListener("change", function () {
                    let file = fileInput.files[0];

                    that.file = file
                    that.fileName = file.name;
                });

                fileInput.click();
            },

            comparison() {
                loadingComponent.open();

                paramDbApi.mdbExportComparator(this.groupName, this.file).then(function (data) {
                    alertComponent.popup(data);
                }).catch(function (data) {
                    alertComponent.popup(data);
                }).finally(function () {
                    loadingComponent.close();
                });
            }
        }
    });
</script>