<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="/base.js"></script>
    <script type="module" src="/main.js"></script>
</head>
<body>
    <div id="main">
        <navigation></navigation>
        <div id="body">
            <div style="margin: 50px 25%;">
                <div class="ep-panel">
                    <div class="title">
                        选择修撤单
                    </div>

                    <div style="margin-top: 20px;">
                        <div>
                            preEntryId
                        </div>

                        <div  style="margin-top: 10px;">
                            <input @input="searchData()" @blur="search.display = false" @focus="search.display = true;searchData()" v-model="DTO.relation.preEntryId" class="form-control input-sm" />

                            <list @select="selectData" :display="search.display" :data="search.data"></list>
                        </div>
                    </div>
                </div>

                <div class="ep-panel" style="margin-top: 50px;">
                    <div class="title">
                        回执数据
                    </div>

                    <div style="margin-top: 20px;">
                        <div>
                            channel（状态）
                        </div>

                        <div style="margin-top: 10px;">
                            <div class="input-group input-group-sm">
                                <input v-model="DTO.cusResult.channel" type="text" class="form-control" aria-label="" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        选择
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li style="padding: 5px 0;" v-for="channel in channelList" :key="channel.key">
                                            <a @click="selectChannel(channel.key)" href="javascript:">{{channel.key}}（{{channel.value}}）</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input-component style="margin-top: 20px;" text="note（备注）" :value.sync="DTO.cusResult.note"></input-component>
                </div>

                <div style="margin-top: 50px;">
                    <button @click="upload()" style="width: 100%;" class="btn btn-primary">上传</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script type="module">

    import cusResultServiceApi from "../../api/service/cusResultServiceApi.js";
    import loadingComponent from "../../component/loadingComponent.js";
    import alertComponent from "../../component/alertComponent.js";
    import searchServiceApi from "../../api/service/searchServiceApi.js";

    new Vue({
        el: "#main",

        data: {
            DTO: {
                relation: {
                    preEntryId: ""
                },

                cusResult: {
                    channel: "",
                    note: ""
                }
            },

            channelList: [
                {
                    key: "S",
                    value: "同意"
                },
                {
                    key: "4",
                    value: "发往传输平台失败"
                },
                {
                    key: "3",
                    value: "发往传输平台成功"
                },
                {
                    key: "H",
                    value: "海关接收入库失败"
                },
                {
                    key: "L",
                    value: "海关接收入库成功"
                },
                {
                    key: "C",
                    value: "海关入库后无法正常受理"
                },
                {
                    key: "A",
                    value: "海关受理"
                },
                {
                    key: "T",
                    value: "转办"
                },
                {
                    key: "E",
                    value: "不同意"
                },
                {
                    key: "F",
                    value: "海关操作驳回"
                },
                {
                    key: "R",
                    value: "退回"
                }
            ],

            search: {
                display: false,

                data: []
            }
        },

        methods: {
            selectChannel(key) {
                this.DTO.cusResult.channel = key;
            },

            upload() {
                loadingComponent.open();

                cusResultServiceApi.decModCusResultUploadYeWu(this.DTO).then(function (message) {
                    alertComponent.popup(message);
                }).catch(function (message) {
                    alertComponent.message(message);
                }).finally(function () {
                    loadingComponent.close();
                });
            },

            searchData() {
                let that = this;

                searchServiceApi.decMod(that.DTO.relation.preEntryId).then(function (data) {
                    that.search.data = data;
                }).catch(function (message) {
                    alertComponent.message(message);
                });
            },

            selectData(data) {
                this.DTO.relation.preEntryId = data;
                this.search.display = false;
            }
        }
    });

</script>