<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>打卡</title>
    <script src="/base.js"></script>
    <script type="module" src="/main.js"></script>
</head>
<body>
    <div id="main">
        <div class="center">
            <div style="margin: 50px 0;width: 30%;">
                <div class="panel panel-default" style="width: 100%;">
                    <div class="panel-heading">
                        <div style="display: flex;">
                            <div style="font-weight: bold;">
                                状态
                            </div>
                            <div style="margin-left: 10px;">
                                <span style="display: none;" :style="status ? 'display: inline' : ''" class="label label-success">已开启</span>
                                <span style="display: none;" :style="status ? '' : 'display: inline'" v-if="status !== null" class="label label-danger">已关闭</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <button @click="open()" class="btn btn-success btn-sm" type="button">开启</button>
                        <button @click="close()" class="btn btn-danger btn-sm" type="button">关闭</button>
                        <button ref="manualDaKaButton" @click="souDong()" class="btn btn-primary btn-sm" type="button">手动打卡</button>
                        <button @click="daKaConfig.show = true" class="btn btn-info btn-sm" type="button">配置</button>
                    </div>
                </div>

                <div class="panel panel-default" style="margin-top: 30px;width: 100%;">
                    <div class="panel-heading" style="font-weight: bold;">
                        日志<button style="margin-left: 10px;" @click="cleanLog()" class="btn btn-default btn-xs" type="button">清空</button>
                    </div>
                    <div class="panel-body">
                        <div v-cloak v-for="(log, key) in logs" :key="key" :style="key !== 0 ? 'margin-top: 10px' : ''">
                            {{log}}
                        </div>
                    </div>
                </div>

                <!-- 遮罩层 -->
                <div v-cloak v-if="daKaConfig.show" class="layui-anim layui-anim-fadein" style="background-color: #0c0c0c38;position: fixed;top: 0;width: 100%; height: 100%;left: 0;"></div>

                <!-- 配置弹窗 -->
                <div v-cloak v-if="daKaConfig.show" style="position: fixed;top: 200px;width: 30%;box-shadow: #00000026 0 0 7px 0;">
                    <div class="panel panel-default" style="margin-bottom: 0">
                        <div class="panel-body">
                            <config :vo="daKaConfig.VO" :dto="daKaConfig.DTO" :get-api="daKaConfig.getApi" :set-api="daKaConfig.setApi"></config>
                            <button @click="daKaConfig.show = false" style="width: 100%;margin-top: 10px;" class="btn btn-default" type="button">关闭</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script type="module">

    import daKaServiceApi from "../api/service/daKaServiceApi.js";
    import alertComponent from "../component/alertComponent.js";
    import DaKaLogWebsocketApi from "../api/websocket/DaKaLogWebsocketApi.js";
    import DaKaConfigDTO from "../entity/DTO/DaKaConfigDTO.js";
    import DaKaConfigVO from "../entity/VO/DaKaConfigVO.js";
    import configServiceApi from "../api/service/configServiceApi.js";

    new Vue({
        el: "#main",

        data: {
            status: null,

            logs: [],

            DaKaLogWebsocket: new DaKaLogWebsocketApi(),

            daKaConfig: {
                show: false,
                VO: new DaKaConfigVO(),
                DTO: new DaKaConfigDTO(),
                getApi: configServiceApi.getDaKa,
                setApi: configServiceApi.setDaKa
            }
        },

        methods: {
            // 获取打卡状态
            getStatus() {
                let that = this;

                daKaServiceApi.getStatus().then(function (data) {
                    that.status = data;
                });
            },

            // 开启打卡
            open() {
                let that = this;

                daKaServiceApi.openAutoDaKa().then(function () {
                    alertComponent.message("开启成功");
                    that.getStatus();
                }).catch(function (message) {
                    alertComponent.message(message);
                });
            },

            // 关闭自动打卡
            close() {
                let that = this;

                daKaServiceApi.closeAutoDaKa().then(function () {
                    alertComponent.message("关闭成功");
                    that.getStatus();
                }).catch(function (message) {
                    alertComponent.message(message);
                });
            },

            // 手动打卡
            souDong() {
                let manualDaKaButton = this.$refs.manualDaKaButton,
                    manualDaKaButtonText = manualDaKaButton.innerHTML;

                manualDaKaButton.setAttribute("disabled", true);
                manualDaKaButton.innerHTML = "正在手动打卡...";

                daKaServiceApi.manualKaKa().then(function () {
                    alertComponent.message("完成");
                }).catch(function (message) {
                    alertComponent.message(message);
                }).finally(function () {
                    manualDaKaButton.removeAttribute("disabled");
                    manualDaKaButton.innerHTML = manualDaKaButtonText;
                });
            },

            // 清空日志
            cleanLog() {
                let that = this;

                daKaServiceApi.cleanLog().then(function () {
                    that.logs = [];
                });
            }
        },

        mounted() {
            let that = this;

            that.getStatus();

            that.DaKaLogWebsocket.onmessage(function (message) {
                that.logs.push(message);
            });

            window.onunload = function () {
                that.DaKaLogWebsocket.close();
            }
        }
    });

</script>