<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>报关单回执 - 通讯回执</title>
    <script src="/main.js"></script>
</head>
<body>
    <div id="main">
        <navigation></navigation>
        <div id="body">
            <div style="height: 100%;" class="center">
                <div style="width: 40%;">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">ediNo&nbsp;&nbsp;&nbsp;</span>
                        <input v-model="ediNo" type="text" class="form-control" aria-describedby="basic-addon1" aria-label="" />
                    </div>

                    <div style="margin-top: 10px;" class="input-group input-group-sm">
                        <span class="input-group-addon">channel</span>
                        <input v-model="cusResultDTO.channel" type="text" class="form-control" aria-label="" />
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                选择
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a @click="selectChannel('0')" href="javascript:">通过</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a @click="selectChannel('1')" href="javascript:">不通过</a></li>
                            </ul>
                        </div>
                    </div>

                    <div style="margin-top: 10px;" class="input-group input-group-sm">
                        <span class="input-group-addon">note&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <input v-model="cusResultDTO.note" type="text" class="form-control" aria-describedby="basic-addon1" aria-label="" />
                    </div>

                    <div style="margin-top: 20px;">
                        <button :disabled="uploadButton.disabled" @click="upload()" style="width: 100%;" class="btn btn-primary" type="submit">{{uploadButton.text}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    (function (epUtil) {
        let CusResultDTO = epUtil.entity.DTO.CusResultDTO;
        let alert = epUtil.component.alert;
        let cusResultServiceApi = epUtil.api.service.cusResultServiceApi;

        new Vue({
            el: "#main",

            data: {
                ediNo: "",
                cusResultDTO: new CusResultDTO(),

                // 上传按钮
                uploadButton: {
                    disabled: false,
                    text: "上传"
                }
            },

            methods: {
                // 选择channel
                selectChannel(channel) {
                    this.cusResultDTO.channel = channel;
                },

                // 上传
                upload() {
                    let ediNo = this.ediNo,
                        cusResultDTO = this.cusResultDTO,
                        uploadButton = this.uploadButton,
                        uploadButtonDisabled = uploadButton.disabled,
                        uploadButtonText = uploadButton.text;

                    if (ediNo === "") {
                        alert.message("ediNo不能为空");
                        return;
                    }

                    if (!cusResultDTO.check(function (message) {
                        alert.message(message);
                    })) {
                        return;
                    }

                    uploadButton.disabled = true;
                    uploadButton.text = "正在上传...";

                    cusResultServiceApi.formCusResultUploadTongXun(ediNo, cusResultDTO).then(function () {
                        alert.popup("上传成功");
                    }).catch(function (message) {
                        alert.popup(message);
                    }).finally(function () {
                        uploadButton.disabled = uploadButtonDisabled;
                        uploadButton.text = uploadButtonText;
                    });
                }
            }
        });
    })(window.epUtil);
</script>

