<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="/base.js"></script>
    <script type="module" src="/main.js"></script>
</head>
<body>
    <div id="main">
        <navigation></navigation>
        <div id="body">
            <div style="margin: 50px 25%;">
                <div class="ep-panel">
                    <div class="title">
                        选择报关单
                    </div>

                    <div style="margin-top: 20px;">
                        <div>
                            ediNo
                        </div>

                        <div  style="margin-top: 10px;">
                            <input @input="searchFormHead()" @blur="search.display = false" @focus="search.display = true;searchFormHead()" v-model="DTO.relation.ediNo" class="form-control input-sm" />

                            <list @select="selectEdiNo" :display="search.display" :data="search.data"></list>
                        </div>
                    </div>
                </div>

                <div class="ep-panel" style="margin-top: 50px;">
                    <div class="title">
                        回执数据
                    </div>

                    <div style="margin-top: 20px;">
                        <div style="display: flex;">
                            <div style="width: 50%;">
                                seqNo
                            </div>
                            <div style="width: 50%;display: flex;flex-direction: row-reverse;">
                                <div class="checkbox" style="margin: 0;color: #00000080;">
                                    <label>
                                        <input @click="autoCheckM()" type="checkbox" :checked="autoCheck ? 'checked' : ''">
                                        自动获取
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div style="margin-top: 10px;">
                            <input :disabled="autoCheck" v-model="DTO.cusResult.seqNo" class="form-control input-sm" />
                        </div>
                    </div>

                    <div style="margin-top: 20px;">
                        <div>
                            channel（状态）
                        </div>

                        <div style="margin-top: 10px;">
                            <div class="input-group input-group-sm">
                                <input v-model="DTO.cusResult.channel" type="text" class="form-control" aria-label="" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        选择
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li style="padding: 5px 0;" v-for="channel in channelList" :key="channel.key">
                                            <a @click="selectChannel(channel.key)" href="javascript:">{{channel.value}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input-component style="margin-top: 20px;" text="note（备注）" :value.sync="DTO.cusResult.note"></input-component>
                </div>

                <div style="margin-top: 50px;">
                    <button @click="upload()" style="width: 100%;" class="btn btn-primary">上传</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script type="module">

    import cusResultServiceApi from "../../api/service/cusResultServiceApi.js";
    import alertComponent from "../../component/alertComponent.js";
    import loadingComponent from "../../component/loadingComponent.js";
    import searchServiceApi from "../../api/service/searchServiceApi.js";

    new Vue({
        el: "#main",

        data: {
            autoCheck: true,

            channelList: [
                {
                    key: "0",
                    value: "0（通过）"
                },
                {
                    key: "1",
                    value: "1（不通过）"
                }
            ],

            DTO: {
                relation: {
                    ediNo: "",
                },

                cusResult: {
                    seqNo: "",
                    channel: "",
                    note: ""
                }
            },

            search: {
                display: false,

                data: []
            }
        },

        methods: {
            upload() {
                loadingComponent.open();

                cusResultServiceApi.formCusResultUploadTongXun(this.DTO).then(function (message) {
                    alertComponent.popup(message);
                }).catch(function (message) {
                    alertComponent.message(message);
                }).finally(function () {
                    loadingComponent.close();
                });
            },

            autoCheckM() {
                this.autoCheck = !this.autoCheck;


                if (this.autoCheck) {
                    this.DTO.cusResult.preEntryId = "";
                }
            },

            selectChannel(channel) {
                this.DTO.cusResult.channel = channel;
            },

            searchFormHead() {
                let that = this;

                searchServiceApi.formHead({
                    type: "0",
                    data: that.DTO.relation.ediNo
                }).then(function (data) {
                    that.search.data = data;
                }).catch(function (message) {
                    alertComponent.message(message);
                });
            },

            selectEdiNo(ediNo) {
                this.DTO.relation.ediNo = ediNo;
                this.search.display = false;
            }
        }
    });



</script>