<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="/base.js"></script>
    <script type="module" src="/main.js"></script>
</head>
<body>
    <div id="main">
        <navigation></navigation>
        <div id="body">
            <div style="margin: 50px 25%;">
                <div class="ep-panel">
                    <div class="title">
                        选择代理委托数据
                    </div>

                    <input-component style="margin-top: 20px;" text="ediNo" :value.sync="DTO.relation.ediNo"></input-component>
                </div>

                <div class="ep-panel" style="margin-top: 50px;">
                    <div class="title">
                        回执数据
                    </div>

                    <div style="margin-top: 20px;">
                        <div>
                            channel（状态）
                        </div>

                        <div style="margin-top: 10px;">
                            <div class="input-group input-group-sm">
                                <input v-model="DTO.cusResult.channel" type="text" class="form-control" aria-label="" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        选择
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li style="padding: 5px 0;" v-for="channel in channelList" :key="channel.key">
                                            <a @click="selectChannel(channel.key)" href="javascript:">{{channel.key}}（{{channel.value}}）</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input-component style="margin-top: 20px;" text="note（备注）" :value.sync="DTO.cusResult.note"></input-component>
                </div>

                <div style="margin-top: 50px;">
                    <button @click="upload()" style="width: 100%;" class="btn btn-primary">上传</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script type="module">

    import cusResultServiceApi from "../../api/service/cusResultServiceApi.js";
    import alertComponent from "../../component/alertComponent.js";
    import loadingComponent from "../../component/loadingComponent.js";

    new Vue({
        el: "#main",

        data: {
            DTO: {
                relation: {
                    ediNo: ""
                },

                cusResult: {
                    channel: "",
                    note: ""
                }
            },

            channelList: [
                {
                    key: "0",
                    value: "导入接口数据导入成功！"
                },
                {
                    key: "1",
                    value: "导入接口数据导入失败！"
                }
            ]
        },

        methods: {
            selectChannel(key) {
                this.DTO.cusResult.channel = key;
            },

            upload() {
                loadingComponent.open();

                cusResultServiceApi.agentCusResultUpload(this.DTO).then(function (message) {
                    alertComponent.popup(message);
                }).catch(function (message) {
                    alertComponent.message(message);
                }).finally(function () {
                    loadingComponent.close();
                });
            }
        }
    });

</script>